# dependencies
node_modules


# env — nunca versionar segredos
.env
.env.*
!.env.example

# playwright
.playwright-mcp

# supabase
supabase/.temp
supabase/.branches

# next
.next
out

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
